
<%- include("partials/header"); -%>
    <h1>Welcome to Hotel search! </h1>
    <p> </p>


  <%  posts.forEach(function(post){ %>

    <h3><%=post.name%></h1>
    <h4><%=post.country%></h4>
    <h4><%=post.postBody%></h4>
    </p>


    <% }) %>


<%- include("partials/footer"); -%>
