<%- include("partials/header"); -%>

  <h1><%=hotelName%></h1>
  <p>Address = <%=address%></p>
  <p>Currency Code = <%=currencyCode%></p>
  <p>Hotel Id = <%=hotelId%></p>
  <p>Country = <%=country%></p>
  <img src=<%=photo1%> width="500" alt="">
  <img src=<%=photo2%> width="500" alt="">
<%- include("partials/footer"); -%>
